[submodule "excons"]
	path = excons
	url = git@github.com:marza-animation-planet/excons.git
[submodule "bzip2"]
	path = bzip2
	url = git@github.com:marza-animation-planet/bzip2
[submodule "zlib"]
	path = zlib
	url = git@github.com:marza-animation-planet/zlib
[submodule "libpng"]
	path = libpng
	url = git@github.com:marza-animation-planet/libpng
