[submodule "excons"]
	path = excons
	url = https://github.com/gatgui/excons.git
[submodule "bzip2"]
	path = bzip2
	url = git://github.com/gatgui/bzip2
[submodule "zlib"]
	path = zlib
	url = git://github.com/gatgui/zlib
[submodule "libpng"]
	path = libpng
	url = git://github.com/gatgui/libpng
